@import 'variables';
.cost {
  height: 100%;
  background: #f6f9fc;
  font-family: $font-cost-item;
  overflow: hidden;
  .title {
    padding: 80px 0 100px;
    h1 {
      font-size: 62px;
      font-weight: bold;
      letter-spacing: 1px;
      color: $color-cost-title;
    }
  }
  .cost__board {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 200px;
    max-width: 1300px;
    margin: 0 auto;
    &-item {
      position: relative;
      width: 20%;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background: #fff;
      opacity: .3;
      border: 1px solid #ccc;
      transition: .2s;
      &:hover {
        border: 1px solid $color-cost-amount;
      }
      .current-plan {
        position: absolute;
        top: -20%;
        left: 25%;
      }
      &-title {
        padding:30px 0 20px;
        font-size: 24px;
        color: $color-cost-title;
        font-weight: bold;
        letter-spacing: .5px;
      }
      .sub-title_item {
        font-size: 14px;
        font-family: $font-cost-sub-title;
        color: $color-cost-sub-title;
      }
      .amount {
        span {
          font-size: 32px;
          font-family: $font-cost-sub-title;
          color: $color-cost-amount;
          letter-spacing: .5px;
        }
      }
      .line {
        height: 2px;
        margin: 15px 25px;
        background: #dee5ed;
        opacity: .6;
      }
      .cost__sale {
        padding: 0 25px 0;
        li {
          padding-bottom: 10px;
          span {
            display: inline-block;
            width: 75%;
            font-family: $font-cost-sub-title;
            font-size: 14px;
            color: #97a0a8;
            vertical-align: middle;
          }
          .icon-check-mark {
            display: inline-block;
            width: 25%;
            text-align: right;
          }
        }
      }
      .btn-registration {
        margin: 20px 0;
        .btn {
          padding: 15px 10px;
          background: #008dff;
          border: transparent;
          a {
            color: #fff;
            font-family: $font-cost-sub-title;
            font-size: 16px;
          }
        }
        .bonus-text {
          padding: 10px 25px 0;
          color: #97a0a8;
          letter-spacing: .5px;
          font-size: 12px;
          font-family: $font-cost-sub-title;
        }
      }
    }
    .active-plan {
      opacity: 1;
      box-shadow: 0 5px 16px -1px rgba(33, 35, 42, 0.04);
    }
  }
}

@media screen and (max-width: 1025px) {
  .cost {
    .cost__board {
      &-item {
        width: 35%;
        margin-bottom: 2%;
        .current-plan {
          left: 30%;
        }
      }
    }
  }
}
@media screen and (max-width: 680px) {
  .cost {
    h1 {
      font-size: 2.5em !important;
    }
    .cost__board {
      padding-bottom: 25px;
      &-item {
        width: 55%;
        margin-bottom: 25%;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .cost {
    .cost__board {
      &-item {
        width: 95%;
        margin-bottom: 30%;
      }
    }
  }
}
