$dark1: #1a1a1a;
$dark2: #21232a;
$dark2: #0f211f;
$blue: #008dff;
$blue2: #0074d1;
$font-cost-item: 'Evolventa', sans-serif;
$color-cost-title: #21232a;
$font-cost-sub-title: 'Evolventa-Bold', sans-serif;
$color-cost-sub-title: #268b67;
$color-cost-amount: #008dff;
$color-aqua: #20e8cd;
$color-lavander: #e9e0ff;
$color-pale: #ffe7ca;
$row-width: 1080px;

body {
  font-size: 16px;
  font-family: 'Evolventa', sans-serif;
  overflow-x: hidden !important;
}
button.btn {
  background: $blue2;
}
a.button3,
button.button3 {
  border-radius: 3px;
  border: solid 1px #ffffff;
  &:hover {
    border: solid 1px $blue2;
  }
}
.clear-padding {
  padding: 0 !important;
  margin: 0 !important;
}
